<!--<div class="btn-group" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Services <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="service in servicesConfig"><a href ng-click="getServiceInfo(service.name)">{{service.name}}</a>
        </li>
        <li class="divider"></li>
        <li><a>All</a></li>
    </ul>
</div>-->

<div  class="fill">
<div class="row content" >
    <div class="col-xs-3">
        <label>Server:</label>
        <select class="form-control" ng-model="serverName" ng-options="name for name in serverNames">
            <option value=""></option>
        </select>
    </div>
    <div class="col-xs-3">
        <label>Application:</label>
        <select class="form-control" >
            <option value="" class=""></option>
        </select>
    </div>
    <div class="col-xs-2" style="margin-top:25px">
        <button ui-sref="MTP.ApplicationManage({serverName:serverName})" class="btn btn-info">Query</button>
    </div>
</div>
<div class="row content">
    <div class="col-xs-3" style="width:300px">
        <button class="btn btn-sm btn-info" ng-click="selectAll()">Start</button>
        <button class="btn btn-sm btn-info">Stop</button>
        <button class="btn btn-sm btn-info">Restart</button>
    </div>
</div>

<div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid" external-scopes="$scope" style="height:80%" ui-grid-auto-resize></div>
</div>