<div class="fill">
    <div class="row content" >
        <div class="col-xs-3">
            <label>Server:</label>
            <select class="form-control" ng-model="serverName" ng-options="name for name in serverNames">
                <option value=""></option>
            </select>
        </div>
        <div class="col-xs-2" style="margin-top:25px">
            <button class="btn btn-info">Query</button>
        </div>
        <!--<div class="col-xs-3">
            <label>Server:</label>
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                {{serverHoldPlace}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </div>-->
    </div>
    <div class="row content">
        <div class="col-xs-3" style="width:300px">
                <script type="text/ng-template" id="applicationPoolEdit.html">
                    <div class="modal-header">
                        <h3 class="modal-title">{{items[0].poolName!=''?'Edit':'Add'}} Application Pool:</h3>
                    </div>
                    <div class="modal-body">
                        <!--<ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{ item.poolName }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item.poolName }}</b>-->
                        <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="autoStart" class="col-sm-3 control-label">Auto Start</label>
            <!--<div class="col-sm-9">
            <select class="form-control" id="autoStart">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            </div>-->
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="serverName"> True
                </label>
                <label class="radio-inline">
                    <input type="radio" name="serverName"> False
                </label>
            </div>
        </div>
        <div class="form-group ">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9" style="padding-right:40px">
            <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
        </div>

        <div class="form-group">
            <label for="frameworkVersion" class="col-sm-3 control-label">Framework Version</label>
            <div class="col-sm-9" style="padding-right:40px">
            <select class="form-control" id="frameworkVersion">
                <option value="">V4.0</option>
                <option value="">No Managed Code</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="identity" class="col-sm-3 control-label">Identity</label>
            <div class="col-sm-9" style="padding-right:40px">
            <!--<select class="form-control  input-sm" id="identity">-->
            <select class="form-control" id="identity">
                <option value="">LocalSystem</option>
                <option value="">NetworkService</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-9" style="padding-right:40px">
                <input type="text" class="form-control" id="userName" placeholder="Enter user name">
            </div>
        </div>
    
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9" style="padding-right:40px">
                <input type="text" class="form-control" id="password" placeholder="Enter password">
            </div>
        </div>
    
        <div class="form-group">
            <label for="pipeMode" class="col-sm-3 control-label">Pipe Mode</label>
            <div class="col-sm-9" style="padding-right:40px">
            <select class="form-control" id="pipeMode">
                <option value="">Integrated</option>
                <option value="">Classic</option>
            </select>
            </div>
        </div>
    
        <div class="form-group">
            <label class="col-sm-3 control-label">Server Name</label>
            <div class="col-sm-9" style="padding-right:40px">
                <label class="checkbox-inline">
                    <input type="checkbox" name="serverName"> DEV84
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="serverName"> GDEV61
                </label>
            </div>
        </div>

</form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
            <button class="btn btn-sm btn-info" ng-click="open('Add')">Add</button>
            <button class="btn btn-sm btn-info" ng-click="open('Edit')">Edit</button>
            <button class="btn btn-sm btn-info">Delete</button>
        </div>
    </div>

    <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid" external-scopes="$scope" ui-grid-auto-resize></div>
</div>

<form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="autoStart" class="col-sm-3 control-label">Auto Start</label>
            <!--<div class="col-sm-9">
            <select class="form-control" id="autoStart">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            </div>-->
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="serverName"> True
                </label>
                <label class="radio-inline">
                    <input type="radio" name="serverName"> False
                </label>
            </div>
        </div>
        <div class="form-group ">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9" style="padding-right:40px">
            <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
        </div>

        <div class="form-group">
            <label for="frameworkVersion" class="col-sm-3 control-label">Framework Version</label>
            <div class="col-sm-9" style="padding-right:40px">
            <select class="form-control" id="frameworkVersion">
                <option value="">V4.0</option>
                <option value="">No Managed Code</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="identity" class="col-sm-3 control-label">Identity</label>
            <div class="col-sm-9" style="padding-right:40px">
            <!--<select class="form-control  input-sm" id="identity">-->
            <select class="form-control" id="identity">
                <option value="">LocalSystem</option>
                <option value="">NetworkService</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-9" style="padding-right:40px">
                <input type="text" class="form-control" id="userName" placeholder="Enter user name">
            </div>
        </div>
    
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9" style="padding-right:40px">
                <input type="text" class="form-control" id="password" placeholder="Enter password">
            </div>
        </div>
    
        <div class="form-group">
            <label for="pipeMode" class="col-sm-3 control-label">Pipe Mode</label>
            <div class="col-sm-9" style="padding-right:40px">
            <select class="form-control" id="pipeMode">
                <option value="">Integrated</option>
                <option value="">Classic</option>
            </select>
            </div>
        </div>
    
        <div class="form-group">
            <label class="col-sm-3 control-label">Server Name</label>
            <div class="col-sm-9" style="padding-right:40px">
                <label class="checkbox-inline">
                    <input type="checkbox" name="serverName"> DEV84
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="serverName"> GDEV61
                </label>
            </div>
        </div>

</form>

